# Ignore node_modules, as they will be installed inside the container
node_modules

# Ignore npm debug logs
npm-debug.log*

# Ignore local environment files
.env

# Ignore server logs
server.log

# Ignore git files
.git
.gitignore

# Ignore Docker files
Dockerfile
compose.yml
.dockerignore
